= simple_form_for(@problem) do |f|
  = f.error_notification

  .form-inputs
    = f.input :text, as: :text, input_html: { class: 'input-xxlarge', rows: 6 }
    = f.input :ends_at

  .form-actions
    = f.button :submit
