.row
  .span8
    %h2 Usuário
    %p
      Nome: #{@user.name}
    %p
      Email: #{@user.email if @user.email}

    - if @problem.nil?
      %h3 Não há um problema no momento
    - else
      %h3 Problema atual
      %p= @problem.text
      - if @answer.nil?
        -if can?(:create, can_answer)
          = link_to 'Responder', new_problem_answer_path(@problem), class: 'btn'
      - else
        %h4 Sua resposta
        %p= @answer.text
        - if can?(:update, @answer)
          = link_to 'Editar resposta', edit_problem_answer_path(@problem, @answer), class: 'btn'
        - if @result.present?
          %h4 Resultado
          %p= @result.text
          = table_for [:delta_pollution, :delta_public_support, :delta_corporate_support, 
            :delta_balance].map {|attr| [Result.human_attribute_name(attr), @result.send(attr)] }
          - if @result.characteristics.any?
            %h5 Características
            %p= @result.characteristics.join("; ")
  - if @city.present?
    .span4
      %h2= @city.name
      = table_for [:pollution, :public_support, :corporate_support, :health, 
          :satisfaction, :population, :balance].map {|attr| [City.human_attribute_name(attr), @city.send(attr)] }
      - if @city.characteristics.any?
        %h5 Características
        %ul
          - @city.characteristics.each do |characteristic|
            %li= characteristic




