%h1 Listando respostas para o problema atual

%ul
  - @answers.each do |answer|
    %li
      = answer.city.name
      = link_to t(:show), "#answer_#{answer.id}", 'data-toggle' => 'collapse', class: 'btn'
      .collapse{id: "answer_#{answer.id}"}
        %p= answer.text
        - if answer.result.present?
          = link_to t(:edit_model, model: Result.model_name.human), edit_result_path(answer.result), class: 'btn'
        - else
          = link_to t(:give_result), new_result_path(answer_id: answer), class: 'btn'

%br

